body {
    font-family: 'Roboto', sans-serif;
    background-color:#D3D3D3;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #ae8ba5;
    border-color: #ae8ba5;
}
.btn-primary:hover {
    background-color: #6b3f6f;
    border-color: #545b62;
}

#profile {
    margin-top: 1rem;
}

.title {
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #6b3f6f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tag:hover {
    background-color: #6b3f6f;
}

.card-body ul {
    list-style: none;
    padding-left: 0;
}

.card-body li {
    padding: 5px 0;
}

.card-title {
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
.text-info {
    font-weight: bold;
}

.compatibility-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.compatibility-card strong {
    margin-right: 10px;
}

.compatibility-value {
    background-color: #1fb279;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.justified {
    text-align: justify;
    line-height: 1.6;
}

.bg-ghost-primary{
    background-image: linear-gradient(#3a658f, #2b4661);
    color: white;
}
.chat-header{
    
    color: white;
    border-radius:50px 50px 0px  0px;
    margin-inline: 5px;
}
.logo {
    width: 100px;
    height: 100px;
    background-image: url('../static/ghost.png');
    background-size: cover;
}

.chat-name {
    border-radius:50px 50px 0px 0px;
    padding-left:24px;
    padding-right:24px;
    padding-top:16px;
    padding-bottom:16px;
    position:relative;
}

.mb-3 {
    padding-top:16px;
}

.text-primary {
    color: white !important;
}

.chat-bot, .chat-name {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    gap:8px;
}

.chat-user {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
    gap:8px;
}

.form-label {
    border-radius:24px 16px 16px 4px;
}

.form-control {
    background-color:white;
    border-radius:16px 16px 4px 16px;
    padding-left:16px;
    padding-right:16px;
    padding-top:12px;
    padding-bottom:12px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:8px;
    position:relative;
}
